[package]
name = "lantern"
version = "0.1.0"
license = "MIT"
authors = ["Rohan Janaki <srohanjd@gmail.com>"]
edition = "2021"

[dependencies]
uuid = { version = "1.3.0", features = ["v4", "fast-rng"] }
tokio = { version = "1.25.0", features = ["full"] }
chrono = "0.4.23"
quick-xml = "0.27.1"
reqwest = { version = "0.11.14", features = ["cookies", "blocking", "json"] }
serde = "1.0.152"
serde_json = "1.0.93"
axum = "0.6.9"
anyhow = "1.0.69"
diesel = { version = "2.0.3", features = [
    "postgres_backend",
    "postgres",
    "serde_json",
] }
dotenvy = "0.15.6"
url = "2.3.1"
